<!-- <div [ngClass]="['input-field input-ng-select-cmpnt', customClassName]">
    <div [ngClass]="['form-floating ', spaceY,inputsize]" [class.error] = "control && control.errors && control.touched || customError" > -->
        <!-- <ng-select [items]="cities"
                bindLabel="name"
                [searchable]=searchable
                [placeholder]=labelName
                [(ngModel)]="selectedCity">
        </ng-select> -->
        <!-- <div [formGroup]="fieldFormGroup">
        <ng-select #ngSelectControl [items]="items" [multiple]="multi" [closeOnSelect]="true" [searchable]="false"
            bindLabel="value" bindValue="value" placeholder="{{placeholder}}" [selectableGroup]="true"
            [selectableGroupAsModel]="false" [(ngModel)]="model" (ngModelChange)="modelChange.emit(model)" formControlName="control">
        </ng-select>
        </div> -->
        <!-- <div *ngIf="control" >
            <ng-select  #entitySelector (focus)="onTabPress($event)" [autofocus]="isAutoFocus" appAutoFocus [items]="[]" [multiple]="true" (change)="onChange($event)" [closeOnSelect]="true" appendTo="body" [formControl]="control" bindLabel="{{listLabel}}" placeholder="{{placeholder}}" [disabled]="disable" [searchable]="searchable" 
            >
            </ng-select>
        </div>
        <div *ngIf="!control">
            <ng-select  #entitySelector (keydown.Tab)="onTabPress($event)" [items]="items" [autofocus]="isAutoFocus" appAutoFocus [(ngModel)]="model" (ngModelChange)='modelChange.emit(model)' (change)="onChange($event)" [multiple]="multi" [closeOnSelect]="true" appendTo="body" bindLabel="{{listLabel}}" placeholder="{{placeholder}}" [disabled]="disable" >
            </ng-select>
        </div>
    </div> -->
    <!-- <div class="error-label" *ngIf="control && control.errors && control.touched && !hideError">
        <ng-container *ngIf="control.errors.required">
            <p>{{control.errors.required}}</p>
        </ng-container>
    </div> -->
<!-- </div> -->
<!-- <div class="form-group mb-20">
    <label for="exampleInputEmail1">Checkers (max 5)</label>
    <div class="input-group ">
      <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
        <option selected>1 selected</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div> -->
